* {
    margin: 0;
  }
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
}
body {
    background-color: black;
    color: white;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    font-size: 20px;
}
footer {
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    background-color:blue;
    color: red;
    
}